<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login NSSMACE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css'>
		
		{% load static %}
    	<link rel="stylesheet" href="{% static 'css/login.css'%}">

  
</head>

<body>

  		<div class="box">
			<img src="https://www.shareicon.net/data/2016/09/01/822711_user_512x512.png" alt="user" width="100" />
			<h3>Welcome. Log in here</h3>
			<form method="POST">
				{% csrf_token %}
		  <div class="form-group">
			
			<input type="text" name="username" class="form-control email" id="exampleInputEmail1" placeholder="Email">
		  </div>
		  <div class="form-group">
			
			<input type="password" name="password" class="form-control password" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  
		  <div class="checkbox text-left">
			<label>
			  <input type="checkbox" > Remember Me
			</label>
		  </div>
		  	<button  type="submit" class="btn btn-primary ">Submit</button>
				<div class=" text-right"><a href="" >Forgot the password?</a></div>
				
		</form>
	  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

  
  	{% load static %}
    <script  src="{% static 'js/login.js' %}"></script>




</body>

</html>
