<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>NSS MACE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:500,600,700"'>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/loggedin.css'%}">

  
</head>

<body>

  <!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#indexPage">
        {% load static %}
        <img src="{% static 'img/ma.png'%}">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#aboutPage"><i class="fa fa-info"></i> About</a></li>
        <li><a href="#projectsPage"><i class="fa fa-picture-o"></i> Projects</a></li>
        <li><a href="#contactPage"><i class="fa fa-envelope"></i> Contact</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}"><i class="fa fa-user-o "></i> {{request.user}}</a></li>
        {% else %}
          <li><a href="{% url 'login' %}"><i class="fa fa-user-o "></i> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Title/Index Page -->
<div class="container-fluid content" id="indexPage">
  <div class="container-fluid">
    <div id="content">
      <div class="container">
        <div class="col-md-4">
          <div class="img-div">
            {% load static %}
            <img src="{% static 'img/logo.png'%}" class="img-circle mx-auto img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-8">
          <p>NATIONAL SERVICE SCHEME</p>
          <p>
            NOT ME BUT YOU <i class="fa fa-exclamation"></i>
          </p>
          {%  if request.user.is_authenticated %}
          <div id="callToActionButtons">
            <div class="row">
              <div class="col-xs-6">
                <a href="/bloodbank/"><button class="modernBtn">Blood Bank</button></a>
              </div>
              <div class="col-xs-6">
                <a href="/attendance/"><button class="modernBtn">Attendence</button></a>
              </div>
            </div>
          </div>
          {% else %}
            <!-- Not logged in content -->
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- About Page -->
<div class="container-fluid content" id="aboutPage">
  <div class="container-fluid banner">
    <div class="container">
      <header>
        A bit of information about NSS Unit of Mar Athanasius College of Engineering Kothamangalam 
      </header>
      <a href="#projectsPage">
        <button class="modernBtn">
          View Projects
        </button>
      </a>
    </div>
  </div>
  <div class="container-fluid afterBanner" id="info">
    <div class="container">
          The National Service Scheme was started to establish a meaningful linkage between the campus and the community. Mahatma Gandhi, the Father of the Nation, had recognized that the country could not progress in a desired direction until the student youth were motivated to work for the upliftment of the community. For Gandhiji the villages, where majority of the population lived, represent the country i.e. India. Therefore, for the national reconstruction and national resurgence it was deemed fit that the students and teachers should be properly sensitized and utilized for strengthening the Indian society as a whole with particular emphasis on rural community. Therefore, student youth, teachers and the community are considered the three basic components of the National Service Scheme
    </div>
  </div>
</div>

<!-- Projects Page -->
<div class="container-fluid content" id="projectsPage">
  <div class="container-fluid">
    <div class="jumbotron banner">
      <div class="container">
        <header>
          These are a few of the projects We've worked on. Contact us to learn more...
        </header>
        <a href="#contactPage">
          <button class="modernBtn">Reach Us</button>
        </a>
      </div>
    </div>
    <div class="container afterBanner" id="projects">
      <div class="row">
        
        <!-- Project Cards -->
        <div class="col-lg-12">
          <div class="panel panel-default card">
            <div class="panel-body">
              {% load static %}
              <img src="{% static 'img/jal.jpg' %}" class="img-responsive" alt="Jaalakam">
              }
            </div>
            <div class="panel-footer">
              Jaalakam'18, a 2 day programme conducted for a group of specially talented people; students of Swanthwnam special school,kothamangalam, to open their windows of colours, to dance with the tunes of this butterfly..
              <span>Sanskriti 17</span>
              <hr>
              
            </div>
          </div>
        </div>
                <div class="col-lg-6 col-sm-12">
          <div class="panel panel-default card">
            <div class="panel-body">
              {% load static %}
              <img src="{% static 'img/blood.jpg' %}" class="img-responsive" alt="Blood Donation">
            </div>
            <div class="panel-footer">
              Give the gift of life.. DONATE BLOOD <br>Blood Donation Camp in association with Rotary Club of Kothamangalam @ Mar Athanasius College of Engineering
              <hr>
              
            </div>
          </div>
        </div>
         <div class="col-lg-6 col-sm-12">
          <div class="panel panel-default card">
            <div class="panel-body">
              {% load static %}
              <img src="{% static 'img/med.jpg'%}" class="img-responsive" alt="Med Camp">
            </div>
            <div class="panel-footer">
              Free Consultation Medical Camp💉 2 day camp ✨💕 @ Mar Athanasius College of Engineering
              <hr>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="panel panel-default card">
            <div class="panel-body">
              {% load static %}
              <img src="{% static 'img/pun.jpg'%}" class="img-responsive" alt="PUNARJJANI">
            </div>
            <div class="panel-footer">
              Punarjjani is a state wide initiative of the Kerala State Youth Welfare Board and Technical Cell of NSS, aimed at repairing damaged and out of use furnitures...
              <hr>
              
            </div>
          </div>
        </div>
        
        <div class="col-lg-6 col-sm-12">
          <div class="panel panel-default card">
            <div class="panel-body">
              {% load static %}
              <img src="{% static 'img/flood.jpg'%}" class="img-responsive" alt="Rebuild Kerala">
            </div>
            <div class="panel-footer">
              Rebuild Kerala is one of the major project started to bring back the real essence of our Kerala after the tragic appearance of flood throughout the state...
              <hr>
              
            </div>
          </div>
        </div>
        

        
        
        
                
      </div>
    </div>
  </div>
  
  <!-- Contact Me Page -->
  <div class="container-fluid content" id="contactPage">
    <div class="container-fluid banner">
      <div class="container">
        <header>
          Contact us here regarding any questions and help .<br>MANASU NANAVATE
        </header>
      </div>
    </div>
    <!-- Contact form -->
    <div class="container-fluid afterBanner" id="info">
      <div class="container" id="form">
        <form method="POST" action="http://formspree.io/2kinsight16@gmail.com">
          <div class="form-group">
            <label for="name">Name</label>
            <input placeholder="required" type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input placeholder="required" type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input class="form-control" id="phoneNumber" name="number" placeholder="xxx-xxx-xxxx (optional)">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea name="message" placeholder="required" class="form-control" rows="6"></textarea>
          </div>
          <input type="hidden" name="_next" value="https://codepen.io/BAchu19/full/RKNEgY"/>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

  
    {% load static %}
    <script  src="{% static 'js/loggedin.js'%}"></script>




</body>

</html>
